

.plan{
    background-color: rgba(238, 114, 186, 0.5); 
    
}

.timings{
    display: flex;
    background-color: rgba(212, 117, 197, 0.5); 
}

.panel{
    width: 100%;
}

.left{
    width: 40%;
}

.right{
    width: 60%;
   
}

.timeBox{
    display: flex;
    align-items: center;
    height: 70%;
    border-bottom: 1px solid #a9d63f;
}

.name{
    height: 70%;
    /* padding: 30px; */
    color: rgb(166, 252, 247);
    justify-content: space-between;
    border-right: 1px solid #dbf896;
    border-bottom: 1px solid #ceee9a;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: large;
    font-weight: 600;
}
.seatPlan{
    background-color: rgba(134, 247, 223, 0.5); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.screenHeader{
    width: 350px;
    color: white;
    text-align: center;
    
}

.silverPlus{
    margin-top: 5px;
    width: 350px;
    color: #ceeee3;
    text-align: center;
}

.topLine{
    width: 75%;
    margin: auto;
    margin-bottom: 12px;
}

.time{
    padding: 6px 12px;
    margin: 0 18px;
    color: white;
    cursor: pointer;
    font-size: large;
    font-weight: 600;
}



.ad{
    width: fit-content;
}

.container{
    max-width: 1000px;
    width: 100%;
    /* height: 100%; */
    /* margin: 100px auto; */
    background-repeat: no-repeat;
    
}

.link{
    text-decoration: none;
}
.custom-div {
    min-height: 50px;
    /* Other styles for your div */
}