
body {
    background-image: url('https://img.freepik.com/free-vector/shooting-team-filming-action-scene-with-stunt-falling-holding-gun-against-green-backdrop-vector-illustration-cinema-moviemaking-casting-stunt-man-concept_74855-13236.jpg?w=740&t=st=1696928115~exp=1696928715~hmac=fdfe4fd342791026f02fcc1857d66a2bf24702b12578ae6aaeb5d2e1e222c5ef');
    background-size: cover; /* This makes the image cover the entire screen */
    background-repeat: no-repeat;
    background-attachment: fixed; /* This ensures the background doesn't scroll with the content */
}